html, body {
    margin: 0;
    padding: 0;
}

.p {
    margin: 10px;
}

.GridContainer {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
        "sidebar header  header"
        "sidebar content aside"
        "sidebar main    aside"
        "footer  footer  footer";
    background: linear-gradient( to bottom, rgb(0 246 255) 30%, rgb(223 189 0) 70% );
}

.item1 {
    grid-area: sidebar;
    text-align: center;
}
.item2 {
    grid-area: header;
}
.item3 {
    grid-area: content;
}
.item4 {
    grid-area: aside;
    text-align: center;
}
.item5 {
    grid-area: main;
}
.item6 {
    grid-area: footer;
}

.Container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* вся висота екрану */
}

/* Загальні стилі для блоків (для візуалізації меж) */
.Header, .MainContainer, .Footer, .item1, .item3, .item4 {
    border: 2px solid black;
    padding: 10px 20px;
    align-items: center; /* Центрує логотип відносно висоти меню */
}

.Header {
    display: flex;
    justify-content: space-between; /* Лого зліва, Меню справа */
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Лого зліва, Меню справа */
}
    .logo img {
        height: 50px;
        width: 50px;
        display: block;
    }
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    justify-content: space-evenly; /* Пункти меню притиснуті до правого краю */
}
    .nav-menu li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 16px;
    }
        .nav-menu li a:hover {
            color: #ff6600;
        }

.MainContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.ElementInMainContainer {
    width: 250px;
    height: 333px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid black; 
}

.ImgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центруємо*/

    margin: 50px 10px;
}

img.ElementInMainContainer {
    object-fit: cover;
}

.InfoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центруємо*/
}

.Info.ElementInMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центруємо*/
    align-items: center; /* Центруємо*/

    background: #fff;
    cursor: pointer;
}
    .Info.ElementInMainContainer img {
        height: 50%;
        width: auto;
    }
    .Info.ElementInMainContainer h3 {
        font-size: 18px;
        color: black;
        margin: 5px;
        text-align: center;
    }
    .Info.ElementInMainContainer p {
        font-size: 14px;
        color: black;
        margin: 5px;
        text-align: center;
    }

.Footer {
    display: flex;
    justify-content: space-between; /* Лого зліва, Меню справа */
}

.ButtonWithOnFocus {
    margin-top: 10px;
    width: 50px;
    height: 25px;
    background-color: #4CAF50;
    border: 2px solid black;
    text-align: center;
}
    .ButtonWithOnFocus h2 {
        margin: 0px;
    }

@media screen and (max-width: 480px) {
    .GridContainer {
        display: flex;
        flex-direction: column;
    }
    .item1, .item2, .item3, .item4, .item5, .item6 {
        width: 100%;
        margin-bottom: 10px;
    }
}